<div class="login-container d-flex align-items-center justify-content-center">
  <div class="card shadow-sm border-0" style="width: 400px;">
    <div class="card-body p-5">
      <div class="text-center mb-4">
        <h3 class="fw-bold text-primary">Login</h3>
        <p class="text-secondary small">Access your digital banking account</p>
      </div>
      <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
        <div class="mb-3">
          <label class="form-label small fw-bold">Username</label>
          <input type="text" formControlName="username" class="form-control" placeholder="username">
        </div>
        <div class="mb-4">
          <label class="form-label small fw-bold">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2">Sign In</button>
      </form>
    </div>
  </div>
</div>
